/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*////////////////////////////////////////////////////////
                GERAL
////////////////////////////////////////////////////////*/
a{
    text-decoration:none;
    color: black;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}    
a.button{
        padding: 0.5vw;
        background-color:rgb(3, 139, 139);
        border-radius: 0.7vw;
        border: 0;
        color: white;
}

/*/////////////////////////////////////////////////////////
////////////////////// topo //////////////////////////////
////////////////////////////////////////////////////////*/
header{
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw 4vw 10vw;
    align-items: center ;
}
header h1{
   font-size: 1.4rem;
   font-weight: bold;
}
header nav ul{
    display: flex;
    
}
header nav ul li{
    margin: 0 1vw 0 1vw;
}
 a.button{
    padding: 0.5vw;
    background-color:rgb(3, 139, 139);
    border-radius: 0.7vw;
    border: 0;
    color: white;
}
/*/////////////////////////////////////////////////////////
////////////////////// topo //////////////////////////////
////////////////////////*/
main{
    text-align: center;
}
main section.banner{
  text-align: center;
}
main section.banner h2{
    font-size: 2.2rem;
    border-radius: 2vw;
    margin: 2vw 0 1.5vw 0;
}
main section.banner p{
    color: rgb(143, 137, 137);
    margin:2vw 0 2vw 0;
}
/*/////////////////////////////////////////////////////////
//////////////////////produtos//////////////////////////////
////////////////////////*/
section.produtos{
    background-color: rgb(170, 253, 253);
    text-align: center;
}
section.produtos div.produto ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 1000000%;
    width: ;
}
section.produtos div.produto ul li{
    background-color: white;
    border-radius: 1vw;
    width: 30%;
    font-size: 2rem;
    margin: 1.5 3vw 1.5vw 3vw;
    padding: 2vw 0 2vw 0;
}
